.base-request {
    padding: 24px;
    background-color: #1e1e41;
    border: 1px solid #2b2b5c;
    border-radius: 4px;
    height: 100%;
    font-size: 14px;
    color: white;
    word-break: break-all;
    @media (max-width:992px) {
        min-height: 250px;
        
    }
}