.custom-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color:#E9ECEF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 35px;
    margin-bottom: 24px;
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 4px;

        
    }
    .checkmark::after {
        content: "";
        position: absolute;
        left: 9px;
        top: 6px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: none;
    }
    .checked {
        background-color: #2196F3;
    }
    .checked::after {
        display: block;
    }
    
}
.list-vulnes {
    border : 1px solid #2b2b5c;
    padding: 24px;
    margin-top:32px;
    background-color: #1e1e41;
    &__title {
        font-size: 16px;
        color: #E9ECEF;
        line-height: 24px;
        margin-bottom: 40px;
    }
    &__auto-fuzz {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 24px;
        border-bottom: 1px solid #0d89ff;;
        @media (min-width:992px) and (max-width: 1366px) {
            display: block;
            .select-all {
                margin-top:12px;
            }
        }
        @media (max-width: 496px) {
            display: block;
            .select-all {
                margin-top:12px;
            }
        }
        .select-all {
            margin-bottom: 0;
        }
    }
    .fuzz-title {
        font-size: 14px;
        font-weight: 600;
        color: #E9ECEF;
        line-height: 24px;
    }
    .common {
        margin-bottom: 20px;
        margin-top:32px;
    }
    
}