.nav-item {
  .nav-link {
    display: flex;
    align-items: center;

    &.active {
      background: #0d89ff;
      border-left: 3px solid #e9ecef;
      opacity: 1;
    }
  }
}

.sidebar .nav a {
  transition: all 150ms ease-in;
}

.card-header {
  text-transform: uppercase;
}

.badge:empty {
  display: inline-block;
}
.cr-page {
  padding: 24px 32px !important;
  .cr-page__header {
    margin-top: 20px;
    .cr-page__title {
      font-size: 24px;
      line-height: 36px;
      color: #e9ecef;
    }
  }
}
.btn-submit {
  margin-top: 32px;
  button {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #0d89ff;
    border-radius: 24px;
    background: transparent;
    text-transform: uppercase;
    color: rgba(233, 236, 239, 0.8);
    font-size: 14px;
    line-height: 24px;
    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
  .err {
    margin-top: 12px;
    font-size: 14px;
    color: red;
  }
  .err-btn {
    border: 1px solid red;
  }
}
.awaiting-component {
  display: flex;
  align-items: flex-end;
  @keyframes ldio-ubx67jzuou8-o {
    0% {
      opacity: 1;
      transform: translate(0 0);
    }
    49.99% {
      opacity: 1;
      transform: translate(16px, 0);
    }
    50% {
      opacity: 0;
      transform: translate(16px, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 0);
    }
  }
  @keyframes ldio-ubx67jzuou8 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(16px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .ldio-ubx67jzuou8 div {
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    top: 8px;
    left: 0px;
  }
  .ldio-ubx67jzuou8 div:nth-child(1) {
    background: #edd87a;
    animation: ldio-ubx67jzuou8 1s linear infinite;
    animation-delay: -0.5s;
  }
  .ldio-ubx67jzuou8 div:nth-child(2) {
    background: #1dbef0;
    animation: ldio-ubx67jzuou8 1s linear infinite;
    animation-delay: 0s;
  }
  .ldio-ubx67jzuou8 div:nth-child(3) {
    background: #edd87a;
    animation: ldio-ubx67jzuou8-o 1s linear infinite;
    animation-delay: -0.5s;
  }
  .loadingio-spinner-dual-ball-bhp6v9njld6 {
    width: 37px;
    height: 37px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-ubx67jzuou8 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
    top: 8px;
  }
  .ldio-ubx67jzuou8 div {
    box-sizing: content-box;
  }
  .awaiting-text {
    color: #e9ecef;
    font-size: 16px;
    line-height: 20px;
    margin-left: 5px;
  }
}
.loading {
  color: #e9ecef;
  font-size: 16px;
  line-height: 20px;
  margin-left: 5px;
  text-align: center;
}
.result-wrap {
  table {
    font-size: 16px;
    color: #e9ecef;
    line-height: 24px;
    background: #1e1e41;
    thead {
      th {
        font-size: 14px;
        line-height: 20px;
        color: #e9ecefcc;
        text-transform: uppercase;
        font-weight: 500;
        padding: 12px 16px;
        &.filter-wrap {
          position: relative;
          span {
            margin-left: 4px;
            cursor: pointer;
            &.loading-filter {
              cursor: not-allowed;
              opacity: 0.5;
            }
            img {
              width: 14px;
              height: 14px;
            }
          }
          .filter-box {
            position: absolute;
            display: flex;
            padding: 12px;
            background-color: #2b2b5c;
            border-radius: 4px;
            left: -20px;
            margin-top: 8px;
            z-index: 99;
            .filter-item {
              min-width: 65px;
              font-size: 12px;
              line-height: 14px;
              color: rgba(233, 236, 239, 0.4);
              text-align: center;
              border-radius: 100px;
              margin-right: 12px;
              padding: 8px 32px;
              background-color: #24244e;
              cursor: pointer;
              box-sizing: border-box;
              border: 1px solid transparent;
              &-active {
                border: 1px solid #0d89ff;
                color: rgba(233, 236, 239, 0.8);
              }
              &:hover {
                border: 1px solid #0d89ff;
                color: rgba(233, 236, 239, 0.8);
              }
            }
            .filter-item:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 16px;
        }
        .vulnerable {
          position: relative;
          .checkmark {
            display: inline-block;
            width: 22px;
            height: 22px;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            left: 32px;
            top: 12px;
            .checkmark-stem {
              position: absolute;
              width: 2px;
              height: 15px;
              background-color: #00e093;
              left: 10px;
              top: 5px;
            }
            .checkmark-kick {
              position: absolute;
              width: 7px;
              height: 2px;
              background-color: #00e093;
              left: 5px;
              top: 19px;
            }
          }
          .close-icon {
            position: absolute;
            left: 32px;
            top: 12px;
            width: 16px;
            height: 16px;
          }

          .close-icon::before,
          .close-icon::after {
            position: absolute;
            left: 2px;
            content: " ";
            height: 16px;
            width: 2px;
            background-color: rgba(124, 123, 123, 0.8);
          }
          .close-icon::before {
            transform: rotate(45deg);
          }
          .close-icon::after {
            transform: rotate(-45deg);
          }
        }
        .detail {
          color: #0d89ff;
        }
        .detail:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      &:nth-child(even) {
        background: rgba(0, 0, 0, 0.16078);
      }
      &:nth-child(odd) {
        background: #1e1e41;
      }
    }
  }
}
.search-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
  @media (max-width: 500px) {
    display: unset;
    justify-content: unset;
  }
  margin-bottom: 24px;
  position: relative;
  form {
    position: relative;
    @media (max-width: 500px) {
      margin: 24px 0;
    }
  }
  input {
    padding:8px 16px;
    background-color: transparent;
    border:1px solid #0d89ff;
    border-radius: 4px;
    color:#e9ecef;
    max-width: 100%;
    
  }
  input:focus {
    border: 1px solid #0d89ff;
  }
  button {
    background-color: transparent;
    border:none;
    color:#e9ecef;
    position: absolute;
    right: 16px;
    top:8px;
  }
  
}
.icon-menu {
  z-index: 99;
  position: fixed;
  @media (min-width:993px) {
    display: none;
  }  
  i {
    position: absolute;
    color:white;
    top:12px;
    left: 12px;
  }
}
.cr-sidebar__content {
  .navbar {
    padding-top:48px;
  }
}
